.header {
    min-height: 2rem;
    padding: 11.25rem 1.25rem;
    padding-bottom: 8.75rem;
    text-align: center;
    background: #6639a6;
    color: white;
}

.header h1 {
    font-size: 1.75rem;
}